/* --------common styles & utilities------ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/* header styles */
header{
    width: 1349px;
    height: 677px;
    background: #2D25A0;
    margin-bottom: 70px;
}
header:hover{
    background-color: palevioletred;
    transform: scale(0.75) rotate(-5deg);
}
.button:hover{
   background-color: plum;
}
/* ----------navbar styles------------ */
nav{
    margin-left: 156px ;
    margin-right: 124px;
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 25px;
    list-style: none;
    padding: 0px;
}
nav li:hover{
    background-color: plum;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.fa-sign-in-alt{
    color: white;
    margin-right: 10px;
}
.button{
    background-color: #E02C6D;
    border: 1px solid transparent;
    padding: 10px 24px;
}
/* ----------header main part------------ */

.main-header{
    display: flex;
}
.header-text{
    color: white;
   margin-top: 50px;
   margin-left: 156px;
   margin-bottom: 240px;
    margin-right: 102px;
}
.header-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 20%;
}
.header-text h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.fa-arrow-right{
    margin-left: 5px;
}
.banner-img{
    width: 80%;
    height: 466px;
    margin-top: 30px;
    margin-right: 100px;
}
.banner-img img{
    width: 100%;
}
/* ----------main portion styles--------- */

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    align-items: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 27px;
}
.players{
    border: 12px solid white;
    box-shadow: 3px 3px 3px 3px gray;
    Height : 474px;
}
.player-img img{
    width: 100%;
}
h2{
    font-weight: bold;
}
p{
    color: gray;
}
/* ----------------optional part-------------- */
.highlights{
    padding-top: 165px;
   margin-left: 182px;
   margin-bottom: 158px;
    margin-right: 156px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.highlight-text{
    width: 50%;
    margin-right: 10px;
}
.highlight-text h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0%;
}
.highlight-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 20%;
}
.highlight-image{
    width: 50%
}
.highlight-image img{
    width: 100%;
}
/* --------------bonus---------- */
.matchlive h1{
    font-size: 30px;
    text-align: center;
}
.matches{
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
    border: 10px solid transparent;
    width:400px;
    height:300px;
}
/* ---------footer styles----------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 483.87px;
    height: 213px;
    margin-left: 475px;
    margin-right: 482px;
    margin-bottom: 63px;
}
.logo img{
   
    width: 80%;
}
.social a{
    font-size: 22px;
    color: palevioletred;
    margin-right: 10px;
}

.nextmatch{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;
}
caption{
    font-size: 30px;
    text-align: center;
}
table{
    border: 5px solid plum;
}
tr,td{
    padding: 5px;
    margin: 5px;
}

/*--------------------
    media queries
 ------------------- */

 /* mobile devices */
 @media only screen and (max-width: 688px){
    
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        margin: 0px;
        padding: 0;
    }
     nav{
         margin-left: 0px;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
     }
     nav ul{
         padding-left: 0;
     }
     nav>li a{
         font-size: 5px;
     }
     .main-header{
         flex-direction: column;
     }
     .header-text{
         margin-top: 8px;
         margin-left: 0px;
         margin-bottom: 0px;
     }
     .header-text h1{
         font-size: 18px;
     }
     .banner-img{
         width: 30%;
     }
     .card{
         width: 100%;
         margin-left: 0px;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
     }
     .highlights, .matchlive{
         width: 100%;
         flex-direction: column;
         align-items: flex-start;
         padding-top: 0px;
         margin-left: 0px;
     }
     .highlight-text h1{
         font-size: 30px;
     }
     iframe{
         width:100%
     }
     .matches{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
     }
     .matchlive{
         flex-direction: column;
     }
     .nextmatch{
         margin: 0%;
     }
     footer{
         flex-direction: column;
         align-items: flex-start;
         margin-left: 0px;
     }
     .logo img{
         width:50%;
     }
 }
 /* tablet devices */
 @media only screen and (min-width: 688px) and (max-width: 922px) {
    .card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-left: 370px;
    }
    .matches{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 370px;
     }
 }